*
{
    /*页面初始化 清除元素的内外边距*/
    margin: 0;
    padding: 0;

    /*盒子模型*/
    font-family:sans-serif ;
    box-sizing: border-box;
}
body
{
    /*弹性布局，让界面元素垂直加上水平居中*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*让页面高度占据浏览器可视区域的高度*/
    height: 100vh;


    background-color: #ecf0f5;
    min-height: 200vh;
}
