.PageHeader
{
    position: absolute;
    color: #9c0c13;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px 100px;
    z-index: 10000;
}
.PageHeader .logo
{
    top: 30px;
    position: absolute;
    font-size: 2em;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    transition: 0.6s;
    font-weight: 700px;
    letter-spacing: 2px;
    display: flex;
}
.PageHeader .HeaderListUl
{
    right: 10px;
    top: 10px;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;

}
.PageHeader .HeaderListUl .HeaderListLi
{
    position: relative;
    list-style-type: none;
}
.PageHeader .HeaderListUl .HeaderListLi .HeaderListA
{
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;
    font-weight: 500px;
    color: #262626;
    padding: 10px 20px;
    margin: 20px 0;
}
.PageHeader .HeaderListUl .HeaderListLi .HeaderListA:hover
{
    color: #fff;
}


.PageHeader .HeaderListUl .HeaderListLi .HeaderListA::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #9c0c13;
    border-bottom: 1px solid #9c0c13;
    transform: scaleY(2);
    opacity: 0;
    transition: .5s;
    z-index: -1;
}
.PageHeader .HeaderListUl .HeaderListLi .HeaderListA:hover::before
{
    transform: scaleY(1);
    opacity: 1;
}

.PageHeader .HeaderListUl .HeaderListLi .HeaderListA::after
{
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9c0c13;
    transform: scale(0);
    transition: .5s;
    z-index: -1;
}
.PageHeader .HeaderListUl .HeaderListLi .HeaderListA:hover::after
{
    transform: scale(1);
}

.Banner
{
    position: relative;
    width: 100%;
    height: 100%;
    background-size:cover ;
}