
.blog-post div, p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.blog-post h1{
    margin-top: 24px;
    margin-bottom: 24px;
}

.blog-post h2{
    margin-top: 24px;
    margin-bottom: 24px;
}

.blog-post h3{
    margin-top: 24px;
    margin-bottom: 24px;
}

.blog-post h4{
    margin-top: 24px;
    margin-bottom: 24px;
}

.blog-post h5{
    margin-top: 24px;
    margin-bottom: 24px;
}

.blog-post h6{
    margin-top: 24px;
    margin-bottom: 24px;
}
/* 大分辨率下的布局 */
@media screen and (min-width: 1045px) {
    .blog-body-with-table{
        max-width: calc(62vw);
    }
    
    /* blog TOC的布局 */
    .css-aside{  
        display: block;
    }

    /* DivApp的布局 */
    .div-app{
        display: flex;
    }
}
/* 小分辨率下的布局 */
@media screen and (max-width: 1045px) {

    /* blog TOC的布局 */
    .css-aside{
        display: none;
    }
    /* DivApp的布局 */
    .div-app{
        display: block;
    }
}

/* blog TOC的布局 */
.css-aside-body{
    position: sticky;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    padding: 0px;
    top: calc(20vh)/*50px;*/;
    width: fit-content;
}
.css-aside a{
    color:gray;
}
.css-aside >ul{
    padding-left: 5px;
    padding-right: 5px;
}

.css-aside li{
    margin-bottom: 0;
}

.css-aside li > p{
    margin-bottom: 0;
}
.css-aside li > ul{
    margin-top: 0;
}
.css-aside ul{
    font-size: 10px;
    list-style-type: none;
    list-style-position: outside;
    margin-bottom: 0;
    margin-left: 10px;
}

.css-aside ul p{
    vertical-align: top;
    display: inline-block;
}

.css-aside-top{
    text-align: center;
}

.blog-body-with-table{
    justify-content: center;
    width: 100%;
}

.blog-body-without-table{
    justify-content: center;
    width: 100%;
}

.blog-nav-buttons{
    margin-bottom: 24px;
}