
.card .card-img img{
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
} 

.test{
    display:flex;
    align-items:center; 
    justify-content:center;
}

.blog-post ul,ol{
    list-style-position: inside;
}


.tags-list{
    text-align: center;
    list-style: none;
}

.read-all{
    color: #fff;
    background-color: #ffc402;
    border-color: #ffc402;
    border-radius: 5px;
}

.tag-obj{
    font-size: 16px;
    color: gray;    
}

.img-col img{
    margin: 20px;
    max-height: 100%;
    
    object-fit: fill;  
    border-color: green;
}

@media screen and (min-width: 1045px) {
    .img-col img{
        max-width: calc(min(100%, 20vw));
    }
}

@media screen and (max-width: 1045px) {
    .img-col img{
        max-width: calc(max(100%, 20vw));
    }
}

.img-col{
    align-items: center;
    text-align: center;
}

.blog-link > h2{
    /* text-decoration: underline; */
    color: rgb(173, 13, 47);
}

.blog-link:hover, .blog-link:active, .blog-link:visited, .blog-link:link {
    text-decoration: none;
}

@media screen and (min-width: 1045px) {
    .docs-body{
        display: flex;
        max-width: calc(62vw);
        justify-content: center;
    }
    .docs-category{
        min-width: fit-content;
    }
}

@media screen and (max-width: 1045px){
    .docs-category{
        display: none;
    }
}

.docs-category-body{
    position: sticky;
    top: calc(20vh);
}