.side-card {
  margin-bottom: 30px;
}

.ant-cascader-picker:focus .ant-cascader-input {
  border-color: #9C0C13;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(156, 12, 19, 0.1);
}
.ant-cascader-picker-label:hover + .ant-cascader-input:not(.ant-cascader-picker-disabled .ant-cascader-picker-label:hover + .ant-cascader-input) {
  border-color: #9C0C13;
  border-right-width: 1px !important;
}
.ant-input:hover {
  border-color: #9C0C13;
  border-right-width: 1px !important;
}
.ant-input:focus,
.ant-input-focused {
  border-color: #9C0C13;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(156, 12, 19, 0.1);
}

.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
  font-weight: 600;
  background-color: rgba(156, 12, 19, 0.1);
}
