.tags > a{
    color: #757575;
    text-decoration: underline;
    text-underline-position: under;
    margin-left: 6px;
}

.tag-link{
    color: #757575;
    text-decoration: underline;
    text-underline-position: under;
    margin-left: 6px;
}

.center-text{
    text-align: center;
}